@import '_variables.css';

.solar-icon[data-v-3112d719] {
    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size)
}

.tm-primary[data-v-c31801e7], .tm-primary.is-default[data-v-c31801e7] {
    --bg: var(--solar-button-primary-default-bg);
    --fg: var(--solar-button-primary-default-fg)
}

.tm-primary[data-v-c31801e7]:hover, .tm-primary.is-hover[data-v-c31801e7] {
    --bg: var(--solar-button-primary-hover-bg)
}

.tm-primary[data-v-c31801e7]:focus, .tm-primary.is-focus[data-v-c31801e7] {
    --bg: var(--solar-button-primary-focus-bg)
}

.tm-primary[data-v-c31801e7]:active, .tm-primary.is-active[data-v-c31801e7] {
    --bg: var(--solar-button-primary-active-bg)
}

.tm-primary[data-v-c31801e7]:disabled, .tm-primary.is-disabled[data-v-c31801e7] {
    --bg: var(--solar-button-primary-disabled-bg);
    --fg: var(--solar-button-primary-disabled-fg)
}

.tm-primary.list[data-v-c31801e7], .tm-primary.list.is-default[data-v-c31801e7] {
    --fg: var(--solar-button-list-primary-default-fg)
}

.tm-primary.list[data-v-c31801e7]:hover, .tm-primary.list.is-hover[data-v-c31801e7] {
    --fg: var(--solar-button-list-primary-hover-fg)
}

.tm-primary.list[data-v-c31801e7]:focus, .tm-primary.list.is-focus[data-v-c31801e7] {
    --fg: var(--solar-button-list-primary-focus-fg)
}

.tm-primary.list[data-v-c31801e7]:disabled, .tm-primary.list.is-disabled[data-v-c31801e7] {
    --fg: var(--solar-button-list-primary-disabled-fg)
}

.tm-secondary[data-v-c31801e7], .tm-secondary.is-default[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-default-bg);
    --fg: var(--solar-button-secondary-default-fg)
}

.tm-secondary[data-v-c31801e7]:hover, .tm-secondary.is-hover[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-hover-bg)
}

.tm-secondary[data-v-c31801e7]:focus, .tm-secondary.is-focus[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-focus-bg)
}

.tm-secondary[data-v-c31801e7]:active, .tm-secondary.is-active[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-active-bg)
}

.tm-secondary[data-v-c31801e7]:disabled, .tm-secondary.is-disabled[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-disabled-bg);
    --fg: var(--solar-button-secondary-disabled-fg)
}

.tm-dark[data-v-c31801e7], .tm-dark.is-default[data-v-c31801e7] {
    --bg: var(--solar-button-dark-default-bg);
    --fg: var(--solar-button-dark-default-fg)
}

.tm-dark[data-v-c31801e7]:hover, .tm-dark.is-hover[data-v-c31801e7] {
    --bg: var(--solar-button-dark-hover-bg);
    --fg: var(--solar-button-dark-hover-fg)
}

.tm-dark[data-v-c31801e7]:focus, .tm-dark.is-focus[data-v-c31801e7] {
    --bg: var(--solar-button-dark-focus-bg);
    --fg: var(--solar-button-dark-focus-fg)
}

.tm-dark[data-v-c31801e7]:active, .tm-dark.is-active[data-v-c31801e7] {
    --bg: var(--solar-button-dark-active-bg);
    --fg: var(--solar-button-dark-active-fg)
}

.tm-dark[data-v-c31801e7]:disabled, .tm-dark.is-disabled[data-v-c31801e7] {
    --bg: var(--solar-button-dark-disabled-bg);
    --fg: var(--solar-button-dark-disabled-fg)
}

.tm-dark.list[data-v-c31801e7], .tm-dark.list.is-default[data-v-c31801e7] {
    --fg: var(--solar-button-list-dark-default-fg)
}

.tm-dark.list[data-v-c31801e7]:hover, .tm-dark.list.is-hover[data-v-c31801e7] {
    --fg: var(--solar-button-list-dark-hover-fg)
}

.tm-dark.list[data-v-c31801e7]:focus, .tm-dark.list.is-focus[data-v-c31801e7] {
    --fg: var(--solar-button-list-dark-focus-fg)
}

.tm-dark.list[data-v-c31801e7]:disabled, .tm-dark.list.is-disabled[data-v-c31801e7] {
    --fg: var(--solar-button-list-dark-disabled-fg)
}

.solar-button[data-v-c31801e7] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--solar-border-radius-50);
    color: var(--fg);
    background: var(--bg);
    padding: 0 var(--solar-spacing-100);
    height: 32px;
    border-style: none;
    border-width: 1px;
    fill: var(--fg);
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    --gap: var(--solar-spacing-25)
}

.solar-button[data-v-c31801e7]:not(.show-skeleton):after {
    display: none
}

.solar-button[data-v-c31801e7]:hover {
    cursor: pointer
}

.solar-button[data-v-c31801e7]:disabled, .solar-button.is-disabled[data-v-c31801e7], .solar-button.is-loading[data-v-c31801e7] {
    pointer-events: none
}

.solar-button:disabled .solar-image[data-v-c31801e7], .solar-button.is-disabled .solar-image[data-v-c31801e7], .solar-button.is-loading .solar-image[data-v-c31801e7] {
    opacity: .25
}

.solar-button.rounded[data-v-c31801e7] {
    border-radius: var(--solar-border-radius-200);
    background: var(--solar-color-background1-action-quinary-enabled);
    color: var(--solar-color-text1-action-secondary-enabled);
    fill: var(--solar-color-icon-secondary);
    padding: var(--solar-spacing-25)
}

.solar-button.rounded .label-wrapper[data-v-c31801e7] {
    padding: 0 var(--solar-spacing-25) 0 0
}

.solar-button.rounded.only-icon[data-v-c31801e7] {
    height: var(--solar-spacing-200);
    width: var(--solar-spacing-200)
}

.solar-button.rounded.only-icon .label-wrapper[data-v-c31801e7] {
    padding: 0
}

.solar-button.rounded.is-disabled[data-v-c31801e7] {
    background: var(--solar-color-background1-action-quinary-enabled);
    color: var(--solar-color-icon-tertiary);
    fill: var(--solar-color-icon-tertiary)
}

.solar-button.rounded[data-v-c31801e7]:focus {
    background: var(--solar-color-background1-action-quinary-enabled)
}

.solar-button.rounded[data-v-c31801e7]:hover, .solar-button.rounded[data-v-c31801e7]:active {
    background: var(--solar-color-background1-action-quinary-hover)
}

.solar-button.list[data-v-c31801e7] {
    border-radius: 0;
    background: transparent;
    height: 24px;
    padding: 0;
    --gap: var(--solar-spacing-50)
}

.solar-button.list.large-pad[data-v-c31801e7] {
    padding: 0 var(--solar-spacing-100);
    background: var(--solar-color-background1-action-primary-enabled);
    height: 40px
}

.solar-button.list.large-pad[data-v-c31801e7]:hover {
    background: var(--solar-color-background1-action-primary-hover)
}

.solar-button.list.large-pad[data-v-c31801e7]:focus {
    background: var(--solar-color-background1-action-primary-focused)
}

.solar-button.list.large-pad[data-v-c31801e7]:active {
    background: var(--solar-color-background1-action-primary-active)
}

.solar-button.list.large-pad.is-selected[data-v-c31801e7] {
    color: var(--fg);
    background: var(--solar-color-background1-action-primary-selected);
    pointer-events: none
}

@media (min-width: 970px) {
    .solar-button.is-medium[data-v-c31801e7] {
        height: 36px
    }

    .solar-button.is-large[data-v-c31801e7] {
        height: 40px
    }

    .solar-button.list[data-v-c31801e7] {
        height: 32px
    }

    .solar-button.list.large-pad[data-v-c31801e7] {
        height: 48px
    }
}

.solar-button.fit-height[data-v-c31801e7] {
    height: fit-content
}

.label-wrapper[data-v-c31801e7], .content-wrapper[data-v-c31801e7] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap)
}

.content-wrapper[data-v-c31801e7] {
    width: 100%
}

.list>.content-wrapper[data-v-c31801e7] {
    justify-content: flex-end
}

.only-icon>.content-wrapper[data-v-c31801e7] {
    justify-content: center
}

.is-loading>.content-wrapper[data-v-c31801e7] {
    opacity: 0
}

.label-wrapper[data-v-c31801e7] {
    justify-content: center
}

.list:not(.only-icon) .label-wrapper[data-v-c31801e7] {
    margin-right: auto
}

.solar-headline a[data-v-24a72c9a] {
    border-bottom: none
}

.solar-headline .img-container[data-v-24a72c9a] {
    display: flex
}

.solar-headline .avatar-container figure[data-v-24a72c9a] {
    margin: 0 var(--solar-spacing-100) 0 0
}

.solar-headline .list-title[data-v-24a72c9a] {
    color: var(--solar-color-text-tertiary);
    margin: 0
}

.solar-headline img[data-v-24a72c9a] {
    border-radius: var(--solar-border-radius-25);
    width: 100%;
    margin-bottom: var(--solar-spacing-50)
}

.solar-headline .title[data-v-24a72c9a] {
    margin: 0 0 var(--solar-spacing-50) 0
}

.solar-headline .title[data-v-24a72c9a]:not(h1, .list-title-author) {
    color: var(--solar-color-text1-action-secondary-enabled)
}

.solar-headline .title.list-title-author[data-v-24a72c9a] {
    color: var(--solar-color-text-secondary)
}

.solar-headline .list-title-author[data-v-24a72c9a] {
    padding-top: 0
}

.solar-headline-heading .title-content[data-v-24a72c9a] {
    padding-top: var(--solar-spacing-50)
}

.solar-headline-heading .title-content .title[data-v-24a72c9a] {
    margin: 0
}

.solar-headline:hover .img-container[data-v-24a72c9a], .solar-headline:hover .avatar-container[data-v-24a72c9a], .solar-headline:hover .small[data-v-24a72c9a], .solar-headline:hover .title-content-author[data-v-24a72c9a], .solar-headline:focus .img-container[data-v-24a72c9a], .solar-headline:focus .avatar-container[data-v-24a72c9a], .solar-headline:focus .small[data-v-24a72c9a], .solar-headline:focus .title-content-author[data-v-24a72c9a] {
    opacity: .7
}

.solar-headline:hover .title[data-v-24a72c9a]:not(.small, .list-title-author, h1) {
    color: var(--solar-color-text1-action-secondary-hover)
}

.solar-headline-column .title-content[data-v-24a72c9a] {
    padding-top: var(--solar-spacing-50)
}

.solar-headline-column .title-content.no-top-padding[data-v-24a72c9a] {
    padding-top: 0
}

.solar-headline.type-list[data-v-24a72c9a] {
    width: auto;
    display: flex;
    text-align: left;
    align-items: center
}

@media (min-width: 970px) {
    .solar-headline.type-list.variant-author[data-v-24a72c9a] {
        align-items: flex-start
    }
}

.solar-headline.type-list .img-container[data-v-24a72c9a] {
    margin-right: var(--solar-spacing-150)
}

.solar-headline.type-list .img-container img[data-v-24a72c9a] {
    width: 197px;
    object-fit: cover;
    margin: 0
}

.solar-headline.type-list .img-container .small[data-v-24a72c9a] {
    width: 88px;
    height: 88px;
    object-fit: cover;
    margin: 0
}

.solar-headline.type-list .title-content-author[data-v-24a72c9a], .solar-headline.type-list .title-content-author .title[data-v-24a72c9a] {
    margin: 0
}

@media (max-width: 969px) {
    .solar-headline.type-list .img-container[data-v-24a72c9a] {
        margin-right: var(--solar-spacing-100)
    }

    .solar-headline.type-list .img-container img[data-v-24a72c9a] {
        width: 120px;
        height: 120px
    }

    .solar-headline.type-list .img-container .small[data-v-24a72c9a] {
        width: 72px;
        height: 72px
    }
}

.solar-headline.type-totem[data-v-24a72c9a] {
    max-width: 164px;
    background: var(--solar-color-background-secondary);
    border-radius: var(--solar-border-radius-25)
}

.solar-headline.type-totem .img-container img[data-v-24a72c9a] {
    margin-bottom: 0
}

.solar-headline.type-totem .content[data-v-24a72c9a] {
    padding-top: var(--solar-spacing-50);
    padding-left: var(--solar-spacing-50);
    padding-right: var(--solar-spacing-50);
    padding-bottom: var(--solar-spacing-50)
}

.solar-headline.type-totem .content .title-content[data-v-24a72c9a] {
    padding-top: var(--solar-spacing-25)
}

@media (min-width: 970px) {
    .solar-headline.type-totem[data-v-24a72c9a] {
        max-width: 197px
    }

    .solar-headline.type-totem .content[data-v-24a72c9a] {
        padding-top: var(--solar-spacing-100);
        padding-left: var(--solar-spacing-75);
        padding-right: var(--solar-spacing-75)
    }

    .solar-headline.type-totem .content .title-content[data-v-24a72c9a] {
        padding-top: var(--solar-spacing-50)
    }
}

.solar-headline .list-author-container[data-v-24a72c9a] {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--solar-spacing-25)
}

.solar-date[data-v-5ee44dd4] {
    display: flex;
    margin: 0;
    color: var(--solar-color-text-secondary)
}

.icon[data-v-5ee44dd4] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--solar-spacing-50);
    fill: var(--solar-color-icon-tertiary)
}

.label[data-v-5ee44dd4] {
    display: flex;
    align-items: center;
    color: var(--solar-color-text-secondary);
    white-space: nowrap;
    margin-left: auto;
    margin-right: 4px
}

.date[data-v-5ee44dd4] {
    display: flex;
    order: 0;
    text-align: right;
    white-space: nowrap
}

.solar-ads[data-v-5f58468e] {
    position: relative
}

.solar-ads .label[data-v-5f58468e] {
    color: var(--solar-color-neutral-600)
}

.solar-ads.main.size-default[data-v-5f58468e] {
    width: 100%
}

.solar-ads.main.has-bg[data-v-5f58468e] {
    background-color: var(--solar-color-background-secondary)
}

.solar-ads.main .label[data-v-5f58468e] {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 23px
}

.solar-ads.main .ads-content[data-v-5f58468e] {
    min-height: var(--ads-height, auto);
    display: flex;
    justify-content: center;
    align-items: center
}

.solar-ads.main .ads-content.no-center[data-v-5f58468e] {
    justify-content: initial
}

.solar-ads.main .ads-content>div[data-v-5f58468e] {
    display: contents
}

.solar-ads.seal[data-v-5f58468e] {
    width: 100%;
    height: auto
}

.solar-ads.seal .label[data-v-5f58468e] {
    margin-bottom: var(--solar-spacing-50)
}

.solar-ads.bar[data-v-5f58468e] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    background-color: var(--solar-color-neutral-50)
}

.solar-ads.bar .ads-content[data-v-5f58468e] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 40px
}

.solar-image[data-v-43d13567] {
    display: inline-flex
}

.solar-image.width-based[data-v-43d13567] {
    width: var(--w);
    height: auto
}

.solar-image.height-based[data-v-43d13567] {
    height: var(--h);
    width: auto
}

.solar-image[data-v-43d13567]>svg {
    width: inherit;
    height: inherit;
    fill: var(--color)
}

.solar-avatar[data-v-e7264e34] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--avatar-background);
    margin: 0;
    --avatar-size-width: 40px;
    --avatar-size-height: 40px;
    --avatar-border-radius: var(--solar-border-radius-75)
}

.solar-avatar .initial[data-v-e7264e34] {
    text-transform: uppercase;
    color: var(--solar-color-text-quartenary)
}

.solar-avatar-notification[data-v-e7264e34] {
    position: absolute;
    top: 0;
    right: calc(var(--solar-spacing-50) * -1)
}

.solar-avatar-notification.is-small[data-v-e7264e34] {
    right: calc(var(--solar-spacing-5) * -1)
}

.solar-avatar[data-v-e7264e34], .solar-avatar-image[data-v-e7264e34] {
    width: var(--avatar-size-width);
    height: var(--avatar-size-height);
    border-radius: var(--avatar-border-radius);
    object-fit: cover
}

@media (min-width: 970px) {
    .solar-avatar[data-v-e7264e34] {
        --avatar-size-width: 56px;
        --avatar-size-height: 56px;
        --avatar-border-radius: var(--solar-border-radius-100)
    }
}

.solar-avatar.is-extra-large[data-v-e7264e34] {
    --avatar-size-width: 70px;
    --avatar-size-height: 80px;
    --avatar-border-radius: var(--solar-border-radius-150)
}

.solar-avatar.is-large[data-v-e7264e34] {
    --avatar-size-width: 56px;
    --avatar-size-height: 56px;
    --avatar-border-radius: var(--solar-border-radius-100)
}

@media (min-width: 970px) {
    .solar-avatar.is-large[data-v-e7264e34] {
        --avatar-size-width: 72px;
        --avatar-size-height: 72px;
        --avatar-border-radius: var(--solar-border-radius-150)
    }
}

.solar-avatar.is-medium[data-v-e7264e34] {
    --avatar-size-width: 40px;
    --avatar-size-height: 40px;
    --avatar-border-radius: var(--solar-border-radius-75)
}

@media (min-width: 970px) {
    .solar-avatar.is-medium[data-v-e7264e34] {
        --avatar-size-width: 56px;
        --avatar-size-height: 56px;
        --avatar-border-radius: var(--solar-border-radius-100)
    }
}

.solar-avatar.is-small[data-v-e7264e34] {
    --avatar-size-width: 32px;
    --avatar-size-height: 32px;
    --avatar-border-radius: var(--solar-border-radius-75)
}

@media (min-width: 970px) {
    .solar-avatar.is-small[data-v-e7264e34] {
        --avatar-size-width: 40px;
        --avatar-size-height: 40px
    }
}

.solar-avatar.variant-initial[data-v-e7264e34] {
    --avatar-background: var(--solar-color-background-quartenary)
}

.solar-avatar.variant-icon[data-v-e7264e34] {
    --avatar-background: var(--solar-color-background-secondary)
}

.solar-notification[data-v-07f65f75] {
    box-sizing: border-box;
    color: var(--solar-color-text-quartenary);
    background-color: var(--solar-color-background-tertiary);
    border-radius: var(--solar-border-radius-75);
    min-width: var(--notification-size);
    height: var(--notification-size);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none
}

.solar-notification.negative[data-v-07f65f75] {
    color: var(--solar-color-text-tertiary);
    background-color: var(--solar-color-background-primary)
}

.is-large[data-v-07f65f75] {
    --notification-size: 24px;
    padding: var(--solar-spacing-25)
}

.is-medium[data-v-07f65f75] {
    --notification-size: 20px;
    padding: var(--solar-spacing-5) var(--solar-spacing-25)
}

.uolpd-video-inarticle[data-v-9112c28d] {
    clear: both;
    height: 290px
}

@media (min-width: 970px) {
    .uolpd-video-inarticle[data-v-9112c28d] {
        height: 392px
    }
}

.uolpd-video-inarticle[data-v-9112c28d] div[id=inarticle-ad-container] {
    background-color: var(--solar-color-neutral-50)
}

.uolpd-video-inarticle[data-v-9112c28d] div[id=inarticle-ad-header] {
    font-family: var(--solar-typography-desktop-regular-text-font-family)
}

.BlFWcnNo {
    border-bottom: 1px solid var(--solar-color-neutral-100)
}

.solar-social-media[data-v-6619f140] {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.solar-social-media .label[data-v-6619f140] {
    color: var(--solar-color-text-primary)
}

.solar-social-media .list[data-v-6619f140] {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--solar-spacing-100)
}

.solar-social-media .list .item[data-v-6619f140]:last-child {
    margin-right: 0
}

.solar-social-media .list .item .icon[data-v-6619f140] {
    fill: var(--solar-color-icon-secondary);
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    height: 24px;
    padding: 0;
    width: auto
}

.solar-social-media .list .item .icon[data-v-6619f140]:hover, .solar-social-media .list .item .icon[data-v-6619f140]:active, .solar-social-media .list .item .icon[data-v-6619f140]:focus {
    outline: none;
    fill: var(--social-color, var(--solar-color-links-hover))
}

.solar-social-media .list.neutral[data-v-6619f140] {
    gap: var(--solar-spacing-50)
}

.solar-social-media .list.neutral .item>.icon[data-v-6619f140] {
    fill: var(--solar-color-icon-secondary);
    display: flex;
    background-color: var(--solar-color-background1-action-quinary-enabled);
    border-radius: var(--solar-border-radius-200);
    height: var(--solar-spacing-200);
    width: var(--solar-spacing-200);
    justify-content: center;
    align-items: center;
    padding: var(--solar-spacing-25)
}

.solar-social-media .list.neutral .item>.icon[data-v-6619f140]:hover, .solar-social-media .list.neutral .item>.icon[data-v-6619f140]:active, .solar-social-media .list.neutral .item>.icon[data-v-6619f140]:focus {
    outline: none;
    fill: var(--social-color, var(--solar-color-links-hover))
}

.solar-social-media .list.color[data-v-6619f140] {
    gap: var(--solar-spacing-50)
}

.solar-social-media .list.color .item>.icon[data-v-6619f140] {
    fill: var(--solar-color-static-white);
    display: flex;
    background: var(--social-color);
    border-radius: var(--solar-border-radius-200);
    height: var(--solar-spacing-200);
    width: var(--solar-spacing-200);
    justify-content: center;
    align-items: center;
    padding: var(--solar-spacing-25)
}

.solar-social-media .list.color .item>.icon[data-v-6619f140]:hover, .solar-social-media .list.color .item>.icon[data-v-6619f140]:active, .solar-social-media .list.color .item>.icon[data-v-6619f140]:focus {
    outline: none;
    opacity: .7
}

.solar-social-media.vertical[data-v-6619f140] {
    flex-direction: column;
    width: fit-content
}

.solar-social-media.vertical .label[data-v-6619f140] {
    margin-right: var(--solar-spacing-150);
    margin-bottom: var(--solar-spacing-50)
}

.solar-social-media.horizontal[data-v-6619f140] {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center
}

.solar-social-media.horizontal .label[data-v-6619f140] {
    width: max-content;
    margin-right: var(--solar-spacing-150)
}

.solar-social-media.horizontal.wrapped[data-v-6619f140] {
    grid-template-columns: auto
}

.solar-social-media.horizontal.wrapped .label[data-v-6619f140] {
    margin-bottom: var(--solar-spacing-50)
}

.solar-alert .close-icon[data-v-6e5a3fde] {
    cursor: pointer;
    height: fit-content
}

.solar-alert.notification[data-v-6e5a3fde], .solar-alert.notification-content[data-v-6e5a3fde] {
    border-radius: var(--solar-border-radius-25);
    display: flex;
    justify-content: space-between;
    gap: var(--solar-spacing-50);
    padding: var(--solar-spacing-50)
}

.solar-alert.notification[data-v-6e5a3fde] {
    background-color: var(--solar-color-background1-action-quinary-enabled)
}

.solar-alert.notification .regular-caption[data-v-6e5a3fde] {
    color: var(--solar-color-text-primary);
    padding-bottom: var(--solar-spacing-25)
}

.solar-alert.notification .regular-subtext[data-v-6e5a3fde] {
    color: var(--solar-color-text-secondary)
}

.solar-alert.notification .close-icon[data-v-6e5a3fde] {
    fill: var(--solar-color-icon1-action-tertiary-enabled)
}

.solar-alert.notification a[data-v-6e5a3fde] {
    border: 0;
    display: inline-block
}

.solar-alert.notification[data-v-6e5a3fde]:hover, .solar-alert.notification[data-v-6e5a3fde]:active {
    background-color: var(--solar-color-background1-action-quinary-hover)
}

.solar-alert.notification:hover .regular-caption[data-v-6e5a3fde], .solar-alert.notification:active .regular-caption[data-v-6e5a3fde] {
    color: var(--solar-color-text-primary)
}

.solar-alert.notification:hover .close-icon[data-v-6e5a3fde], .solar-alert.notification:active .close-icon[data-v-6e5a3fde] {
    fill: var(--solar-color-icon1-action-tertiary-hover)
}

.solar-alert.notification-content[data-v-6e5a3fde] {
    background-color: var(--solar-color-background1-action-tertiary-enabled);
    flex-wrap: nowrap
}

.solar-alert.notification-content a[data-v-6e5a3fde] {
    border: none;
    color: var(--solar-color-text-primary)
}

.solar-alert.notification-content .regular-caption[data-v-6e5a3fde] {
    line-height: 16px
}

.solar-alert.notification-content .solar-icon[data-v-6e5a3fde] {
    vertical-align: middle
}

.solar-alert.notification-content.mobile[data-v-6e5a3fde] {
    background: var(--solar-color-background1-action-tertiary-enabled);
    box-shadow: var(--solar-drop-shadow-100);
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    min-width: 288px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 4px
}

@media (min-width: 970px) {
    .solar-alert.notification-content[data-v-6e5a3fde] {
        min-width: 640px
    }
}

.positive[data-v-6e5a3fde] {
    --message-background-color: var(--solar-color-positive-50);
    --messsage-border-color: var(--solar-color-positive-100);
    --message-icon-fill: var(--solar-color-positive-800)
}

.jupiter-paragraph-fragment[data-v-232111b4] {
    --block-spacing: var(--solar-spacing-150)
}

.jupiter-paragraph-fragment>*[data-v-232111b4] {
    margin-top: var(--block-spacing);
    margin-bottom: var(--block-spacing)
}

.jupiter-paragraph-fragment>*[data-v-232111b4]:first-child {
    margin-top: 0
}

@media (min-width: 970px) {
    .jupiter-paragraph-fragment[data-v-232111b4] {
        --block-spacing: var(--solar-spacing-200)
    }
}

.XDHTfbCy {
    background-color: var(--solar-color-background-header);
    transition: .5s all
}

.k-6jsN7G {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    height: 56px
}

.jSHdaL9w {
    border-bottom: 1px solid var(--solar-color-stroke-divider-primary)
}

.QxFmtM4r {
    display: flex;
    align-items: center;
    gap: var(--solar-spacing-100)
}

._-1cR-Km4 {
    display: flex
}

.CjJv32Px {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: var(--solar-spacing-100)
}

@media (min-width: 970px) {
    .k-6jsN7G {
        grid-template-columns: 1fr 3fr 1fr
    }

    .CjJv32Px {
        gap: var(--solar-spacing-150)
    }
}

.jupiter-headline .sign-it[data-v-c054eacf] {
    margin: 0;
    margin-bottom: var(--solar-spacing-100)
}

.jupiter-headline .headline-container .headline-footer .info .headline-social-share[data-v-c054eacf] {
    display: flex;
    align-self: baseline;
    flex: none
}

@media (min-width: 970px) {
    .headline-footer .info[data-v-c054eacf] {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .headline-footer .info:has(.headline-group) .headline-social-share[data-v-c054eacf] {
        margin-top: 3px;
        margin-left: var(--solar-spacing-100)
    }
}

body {
    --header-height: 56px;
    --main-pt: 0%;
    --z-index-header: 99999999;
    --z-index-modal: calc(var(--z-index-header) + 1)
}

@media (min-width: 970px) {
    body {
        --header-height: 73px
    }
}

body .vl-wrapper .header-top-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: var(--z-index-header);
    background-color: var(--solar-color-static-white)
}

body .vl-wrapper {
    position: relative;
    z-index: var(--z-index-modal)
}

body .vl-wrapper .stick {
    position: sticky;
    top: calc(var(--header-height) + var(--main-pt) + var(--solar-spacing-100))
}

body .vl-wrapper .stick.horizontal-campaign {
    top: 0;
    z-index: var(--z-index-header)
}

body .row {
    margin-left: calc(var(--solar-spacing-100) * -1);
    margin-right: calc(var(--solar-spacing-100) * -1)
}

body.in-app .vl-wrapper {
    padding-top: var(--main-pt)
}

body .fixed-mobile-area {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-index-header)
}

/* :root {
    --solar-spacing-400: 64px;
    --solar-spacing-250: 40px;
    --solar-spacing-200: 32px;
    --solar-spacing-150: 24px;
    --solar-spacing-100: 16px;
    --solar-spacing-75: 12px;
    --solar-spacing-50: 8px;
    --solar-spacing-25: 4px;
    --solar-spacing-5: 2px;
    --solar-drop-shadow-100: 0 0 4px #00000040;
    --solar-border-radius-200: 32px;
    --solar-border-radius-150: 24px;
    --solar-border-radius-100: 16px;
    --solar-border-radius-75: 12px;
    --solar-border-radius-50: 8px;
    --solar-border-radius-25: 4px;
    --solar-border-radius-5: 2px;
    --solar-brand-color-tertiary-700: #ad8c00ff;
    --solar-brand-color-tertiary-600: #d6ad00ff;
    --solar-brand-color-tertiary-500: #ffce00ff;
    --solar-brand-color-secondary-500: #ff8000ff;
    --solar-brand-color-primary-800: #850013ff;
    --solar-brand-color-primary-700: #ad0019ff;
    --solar-brand-color-primary-600: #d6001eff;
    --solar-brand-color-primary-100: #ffb7c1ff;
    --solar-color-static-white: #ffffffff;
    --solar-color-static-black: #000000ff;
    --solar-color-positive-800: #198038ff;
    --solar-color-positive-100: #d4ffe1ff;
    --solar-color-positive-50: #f2fff6ff;
    --solar-color-neutral-900: #202020ff;
    --solar-color-neutral-600: #666666ff;
    --solar-color-neutral-300: #b3b3b3ff;
    --solar-color-neutral-200: #ccccccff;
    --solar-color-neutral-100: #e6e6e6ff;
    --solar-color-neutral-50: #f2f2f2ff;
    --solar-color-stroke-divider-primary: var(--solar-color-neutral-100);
    --solar-color-links-hover: var(--solar-brand-color-primary-700);
    --solar-color-links-active: var(--solar-brand-color-primary-700);
    --solar-color-links-enabled: var(--solar-brand-color-primary-600);
    --solar-color-icon-quartenary: var(--solar-color-static-black);
    --solar-color-icon-tertiary: var(--solar-color-neutral-600);
    --solar-color-icon-secondary: var(--solar-color-neutral-900);
    --solar-color-heading-primary: var(--solar-color-neutral-900);
    --solar-color-decoration-primary: var(--solar-brand-color-primary-600);
    --solar-color-border-secondary: var(--solar-brand-color-primary-100);
    --solar-color-background-form-disabled: var(--solar-color-static-white);
    --solar-color-background-form-hover: var(--solar-color-neutral-50);
    --solar-color-background-form-enabled: var(--solar-color-static-white);
    --solar-color-background-form-focused: var(--solar-color-neutral-100);
    --solar-color-background-header: var(--solar-color-static-white);
    --solar-color-background-quartenary: var(--solar-brand-color-secondary-500);
    --solar-color-background-tertiary: var(--solar-brand-color-primary-600);
    --solar-color-background-secondary: var(--solar-color-neutral-50);
    --solar-color-background-primary: var(--solar-color-static-white);
    --solar-color-text3-action-secondary-disabled: var(--solar-color-neutral-100);
    --solar-color-text3-action-secondary-focused: var(--solar-color-neutral-300);
    --solar-color-text3-action-secondary-active: var(--solar-color-neutral-600);
    --solar-color-text3-action-secondary-hover: var(--solar-color-neutral-300);
    --solar-color-text3-action-secondary-enabled: var(--solar-color-static-white);
    --solar-color-text-quartenary: var(--solar-color-static-white);
    --solar-color-text-tertiary: var(--solar-brand-color-primary-600);
    --solar-color-text-secondary: var(--solar-color-neutral-600);
    --solar-color-text-primary: var(--solar-color-neutral-900);
    --solar-color-text2-action-primary-disabled: var(--solar-color-neutral-100);
    --solar-color-text2-action-primary-enabled: var(--solar-color-static-white);
    --solar-color-text1-action-secondary-disabled: var(--solar-color-neutral-300);
    --solar-color-text1-action-secondary-focused: var(--solar-brand-color-primary-700);
    --solar-color-text1-action-secondary-hover: var(--solar-brand-color-primary-700);
    --solar-color-text1-action-secondary-enabled: var(--solar-color-neutral-900);
    --solar-color-text1-action-primary-selected: var(--solar-brand-color-primary-600);
    --solar-color-text1-action-primary-disabled: var(--solar-color-neutral-300);
    --solar-color-text1-action-primary-focused: var(--solar-brand-color-primary-700);
    --solar-color-text1-action-primary-active: var(--solar-brand-color-primary-700);
    --solar-color-text1-action-primary-hover: var(--solar-brand-color-primary-700);
    --solar-color-text1-action-primary-enabled: var(--solar-brand-color-primary-600);
    --solar-color-icon1-action-tertiary-enabled: var(--solar-color-neutral-900);
    --solar-color-icon1-action-tertiary-hover: var(--solar-color-neutral-900);
    --solar-color-icon1-action-tertiary-active: var(--solar-color-neutral-900);
    --solar-color-icon1-action-tertiary-focused: var(--solar-color-neutral-900);
    --solar-color-icon1-action-tertiary-disabled: var(--solar-color-neutral-300);
    --solar-color-icon1-action-tertiary-selected: var(--solar-color-neutral-900);
    --solar-color-background2-action-secondary-enabled: var(--solar-color-neutral-900);
    --solar-color-background2-action-secondary-active: var(--solar-color-static-black);
    --solar-color-background2-action-secondary-hover: var(--solar-color-static-black);
    --solar-color-background2-action-secondary-focused: var(--solar-color-static-black);
    --solar-color-background2-action-secondary-disabled: var(--solar-color-neutral-300);
    --solar-color-background2-action-secondary-selected: var(--solar-color-static-black);
    --solar-color-background2-action-primary-hover: var(--solar-brand-color-primary-700);
    --solar-color-background2-action-primary-enabled: var(--solar-brand-color-primary-600);
    --solar-color-background2-action-primary-active: var(--solar-brand-color-primary-800);
    --solar-color-background2-action-primary-focused: var(--solar-brand-color-primary-700);
    --solar-color-background2-action-primary-disabled: var(--solar-color-neutral-300);
    --solar-color-background1-action-tertiary-enabled: var(--solar-color-static-white);
    --solar-color-background1-action-quinary-enabled: var(--solar-color-neutral-50);
    --solar-color-background1-action-quinary-hover: var(--solar-color-neutral-100);
    --solar-color-background1-action-quinary-active: var(--solar-color-neutral-100);
    --solar-color-background1-action-quinary-focused: var(--solar-color-neutral-100);
    --solar-color-background1-action-quinary-disabled: var(--solar-color-neutral-50);
    --solar-color-background1-action-quinary-selected: var(--solar-color-neutral-200);
    --solar-color-background1-action-primary-enabled: var(--solar-color-static-white);
    --solar-color-background1-action-primary-hover: var(--solar-color-neutral-50);
    --solar-color-background1-action-primary-active: var(--solar-color-neutral-50);
    --solar-color-background1-action-primary-focused: var(--solar-color-neutral-50);
    --solar-color-background1-action-primary-disabled: var(--solar-color-neutral-300);
    --solar-color-background1-action-primary-selected: var(--solar-color-neutral-50);
    --solar-button-secondary-disabled-fg: var(--solar-color-neutral-300);
    --solar-button-secondary-disabled-bg: var(--solar-color-neutral-200);
    --solar-button-secondary-active-bg: var(--solar-brand-color-tertiary-700);
    --solar-button-secondary-focus-bg: var(--solar-brand-color-tertiary-600);
    --solar-button-secondary-hover-bg: var(--solar-brand-color-tertiary-600);
    --solar-button-secondary-default-fg: var(--solar-color-static-black);
    --solar-button-secondary-default-bg: var(--solar-brand-color-tertiary-500);
    --solar-button-list-primary-disabled-fg: var(--solar-color-text1-action-primary-disabled);
    --solar-button-list-primary-focus-fg: var(--solar-color-text1-action-primary-focused);
    --solar-button-list-primary-hover-fg: var(--solar-color-text1-action-primary-hover);
    --solar-button-list-primary-default-fg: var(--solar-color-text1-action-primary-enabled);
    --solar-button-dark-disabled-fg: var(--solar-color-text3-action-secondary-disabled);
    --solar-button-dark-disabled-bg: var(--solar-color-background2-action-secondary-disabled);
    --solar-button-dark-active-fg: var(--solar-color-text3-action-secondary-active);
    --solar-button-dark-active-bg: var(--solar-color-background2-action-secondary-active);
    --solar-button-dark-focus-fg: var(--solar-color-text3-action-secondary-focused);
    --solar-button-dark-focus-bg: var(--solar-color-background2-action-secondary-focused);
    --solar-button-dark-hover-fg: var(--solar-color-text3-action-secondary-hover);
    --solar-button-dark-hover-bg: var(--solar-color-background2-action-secondary-hover);
    --solar-button-dark-default-fg: var(--solar-color-text3-action-secondary-enabled);
    --solar-button-dark-default-bg: var(--solar-color-background2-action-secondary-enabled);
    --solar-button-primary-disabled-fg: var(--solar-color-text2-action-primary-disabled);
    --solar-button-primary-disabled-bg: var(--solar-color-background2-action-primary-disabled);
    --solar-button-primary-active-bg: var(--solar-color-background2-action-primary-active);
    --solar-button-primary-focus-bg: var(--solar-color-background2-action-primary-focused);
    --solar-button-primary-hover-bg: var(--solar-color-background2-action-primary-hover);
    --solar-button-primary-default-fg: var(--solar-color-text2-action-primary-enabled);
    --solar-button-primary-default-bg: var(--solar-color-background2-action-primary-enabled);
} */

/* 
@font-face {
    font-family: "UOLText";
    src: url("fonts/uol-text-lighter.woff2") format("woff2"),url("fonts/uol-text-lighter.woff") format("woff"),url("fonts/uol-text-lighter.ttf") format("truetype");
    font-display: swap;
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "UOLText";
    src: url("fonts/uol-text-light.woff2") format("woff2"),url("fonts/uol-text-light.woff") format("woff"),url("fonts/uol-text-light.ttf") format("truetype");
    font-display: swap;
    font-weight: 300;
    font-style: normal */
/* } */

@font-face {
    font-family: "UOLText";
    src: url("fonts/uol-text-regular.woff2") format("woff2"), url("fonts/uol-text-regular.woff") format("woff"), url("fonts/uol-text-regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "UOLText";
    src: url("fonts/uol-text-bold.woff2") format("woff2"), url("fonts/uol-text-bold.woff") format("woff"), url("fonts/uol-text-bold.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
    font-weight: 900
}

/* @font-face {
    font-family: "UOLIcons";
    src: url("//stc.uol.com/c/webfont/projeto-grafico/uol-icones-e-setas/uol-icons-vueland-home.woff?v1") format("woff"),url("//stc.uol.com/c/webfont/projeto-grafico/uol-icones-e-setas/uol-icons-vueland-home.ttf?v1") format("truetype");
    font-weight: normal;
    font-style: normal
} */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

a {
    background-color: rgba(0, 0, 0, 0)
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}


[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

[hidden] {
    display: none
}

* {
    box-sizing: border-box
}

body {
    background: var(--solar-color-background-primary);
    color: var(--solar-color-text-primary)
}

h1 {
    color: var(--solar-color-heading-primary)
}

body {
    font-family: UOLtext, Arial, sans-serif;
    font-size: 18px
}

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px
}

p, li, cite, .regular-text, .bold-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px
}

.regular-subtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}

.regular-caption, .bold-caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.regular-smaller-text, .bold-smaller-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px
}

.bold-text-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 12px
}

@media(min-width: 970px) {
    body {
        font-size: 20px
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 56px
    }

    p, li, cite, .regular-text, .bold-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px
    }

    .regular-subtext {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px
    }

    .regular-caption, .bold-caption {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px
    }

    .regular-smaller-text, .bold-smaller-text {
        font-size: 10px;
        font-weight: 400;
        line-height: 16px
    }

    .bold-text-button {
        font-size: 16px;
        font-weight: 700;
        line-height: 16px
    }
}

.bold, .bold-smaller-text, .bold-caption, .bold-text2, .bold-text-2, .bold-text, strong {
    font-weight: 700
}

.left {
    text-align: left
}

.center {
    text-align: center
}

.bullet ul {
    list-style-type: none;
    padding-left: 0
}

.bullet ul li {
    padding-bottom: var(--solar-spacing-100)
}

.bullet ul li::before {
    content: "";
    width: 4px;
    height: 4px;
    margin-right: var(--solar-spacing-50);
    background-color: var(--solar-color-decoration-primary);
    display: inline-block;
    margin-bottom: 5px
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--solar-grid-columns, 12), 1fr);
    gap: var(--solar-grid-gap, 24px)
}

.grid>* {
    grid-column: auto/span var(--solar-grid-columns, 12)
}

@media(min-width: 970px) {
    .grid>.col-lg-3 {
        grid-column: auto/span 3
    }

    .grid>.col-lg-6 {
        grid-column: auto/span 6
    }
}

.container, .body-container {
    max-width: 100%;
    margin: 0 16px
}

@media screen and (min-width: 1336px) {
    .container {
        margin: 0 auto;
        max-width: 1304px
    }
}

@media(min-width: 970px) {
    .body-container {
        margin: 0 auto;
        max-width: 640px
    }
}

a:not(.no-link) {
    padding-bottom: 1px;
    text-decoration: none;
    color: var(--solar-color-links-enabled);
    border-bottom: 2px solid var(--solar-color-links-enabled)
}

a:not(.no-link):hover {
    color: var(--solar-color-links-hover);
    border-color: var(--solar-color-links-hover)
}

a:not(.no-link):active {
    color: var(--solar-color-links-active);
    border-color: var(--solar-color-links-active)
}


.mt-100 {
    margin-top: var(--solar-spacing-100)
}

.my-150 {
    margin-top: var(--solar-spacing-150);
    margin-bottom: var(--solar-spacing-150)
}

.my-250 {
    margin-top: var(--solar-spacing-250);
    margin-bottom: var(--solar-spacing-250)
}

.mt-0 {
    margin-top: 0
}

@media(max-width: 969px) {
    .mt-100-xs {
        margin-top: var(--solar-spacing-100)
    }

    .mt-250-xs {
        margin-top: var(--solar-spacing-250)
    }
}

@media(min-width: 970px) {
    .mt-100-lg {
        margin-top: var(--solar-spacing-100)
    }

    .mt-150-lg {
        margin-top: var(--solar-spacing-150)
    }

    .mt-400-lg {
        margin-top: var(--solar-spacing-400)
    }
}

@keyframes skeleton {
    0% {
        background-position: -100px
    }

    40%, 100% {
        background-position: 200px
    }
}