@import '_variables.css';

.solar-footer[data-v-1821df6a] {
    position: relative;
    background-color: var(--solar-color-background-primary);
    border-top: 2px solid var(--solar-color-stroke-divider-secondary);
    z-index: 0
}

.solar-footer:nth-child(n+1) p[data-v-1821df6a] {
    color: var(--solar-color-text-primary)
}

.solar-footer .solid-bg[data-v-1821df6a] {
    position: absolute;
    background-color: var(--solar-color-background-secondary);
    width: 100%;
    height: 90px;
    z-index: -1;
    bottom: 0;

}
@media (max-width: 331px) {
    .solar-footer .solid-bg[data-v-1821df6a] {
        height: 200px;
        bottom: -18px;

    }
}

@media (min-width: 332px) and (max-width: 969px) {
    .solar-footer .solid-bg[data-v-1821df6a] {
        height: 182px
    }
}

.solar-footer .header[data-v-1821df6a] {
    padding-bottom: var(--solar-spacing-300);
    padding-top: var(--solar-spacing-300)
}

@media (max-width: 969px) {
    .solar-footer .header[data-v-1821df6a] {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: var(--solar-spacing-150);
        padding-top: var(--solar-spacing-150)
    }
}

.solar-footer .body[data-v-1821df6a] {
    border-bottom: 1px solid var(--solar-color-stroke-divider-primary);
    border-top: 1px solid var(--solar-color-stroke-divider-primary);
    padding-top: var(--solar-spacing-150);
    padding-bottom: var(--solar-spacing-150)
}

.solar-footer .body ul[data-v-1821df6a] {
    list-style: none;
    padding-left: 0;
    margin: 0
}

@media (max-width: 969px) {
    .solar-footer .body .list[data-v-1821df6a] {
        padding-bottom: var(--solar-spacing-200)
    }

    .solar-footer .body .list[data-v-1821df6a]:last-child {
        padding-bottom: 0
    }

    .solar-footer .body .columns ul:last-child li[data-v-1821df6a]:last-child {
        margin-bottom: 0
    }
}

@media (min-width: 970px) {
    .solar-footer .body[data-v-1821df6a] {
        padding-top: var(--solar-spacing-300);
        padding-bottom: var(--solar-spacing-300)
    }

    .solar-footer .body .menus[data-v-1821df6a] {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .solar-footer .body .columns[data-v-1821df6a] {
        display: flex;
        gap: var(--solar-spacing-300)
    }

    .solar-footer .body .columns ul li[data-v-1821df6a]:last-child {
        margin-bottom: 0
    }
}

.solar-footer .footer[data-v-1821df6a] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: var(--solar-spacing-300);
    padding-bottom: var(--solar-spacing-300);
    color: var(--solar-color-text-primary)
}

@media (max-width: 969px) {
    .solar-footer .footer[data-v-1821df6a] {
        flex-direction: column;
        align-items: flex-start;
        padding-top: var(--solar-spacing-150);
        padding-bottom: var(--solar-spacing-150)
    }
}

.solar-footer .footer .sign[data-v-1821df6a] {
    display: flex;
    flex-direction: column;
    gap: var(--solar-spacing-100)
}

@media (max-width: 969px) {
    .solar-footer .footer .sign[data-v-1821df6a] {
        padding-bottom: var(--solar-spacing-150)
    }
}

.solar-footer .footer .sign p[data-v-1821df6a] {
    margin: 0
}

.solar-footer .footer .sign a[data-v-1821df6a] {
    padding: 0
}

.solar-footer .footer .sign .link[data-v-1821df6a] {
    border-bottom: 0;
    z-index: 1;
    max-width: 318px
}

.solar-footer .footer .phone[data-v-1821df6a] {
    display: flex;
    flex-direction: column;
    gap: var(--solar-spacing-100)
}

.solar-footer .footer .phone p[data-v-1821df6a] {
    margin: 0
}

.solar-footer .footer .phone-wrapper[data-v-1821df6a] {
    display: flex;
    gap: var(--solar-spacing-300)
}

@media (max-width: 969px) {
    .solar-footer .footer .phone-wrapper[data-v-1821df6a] {
        gap: var(--solar-spacing-500);
        padding-bottom: var(--solar-spacing-150)
    }
}

.solar-footer .footer .apps[data-v-1821df6a] {
    display: flex;
    flex-direction: column;
    gap: var(--solar-spacing-100)
}

.solar-footer .footer .apps p[data-v-1821df6a] {
    margin: 0
}

.solar-footer .footer .apps-wrapper[data-v-1821df6a] {
    display: flex;
    gap: var(--solar-spacing-50)
}

.solar-footer .credits[data-v-1821df6a] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--solar-color-background-secondary);
    height: 90px;
    width: 100%
}

@media (max-width: 969px) {
    .solar-footer .credits[data-v-1821df6a] {
        flex-direction: column-reverse;
        padding-top: 0;
        height: 182px;
        justify-content: flex-end;
        border-top: 1px solid var(--solar-color-stroke-divider-primary)
    }

    .solar-footer .credits p[data-v-1821df6a] {
        margin: 0;
        text-align: justify
    }
}

.solar-footer .credits .wrapper[data-v-1821df6a] {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.solar-footer .credits .wrapper .no-underline[data-v-1821df6a] {
    border-bottom: 0;
    z-index: 1
}

@media (max-width: 969px) {
    .solar-footer .credits .wrapper[data-v-1821df6a] {
        padding-top: var(--solar-spacing-150);
        border-top: 1px solid var(--solar-color-stroke-divider-primary)
    }
}

.solar-footer .credits .networks[data-v-1821df6a] {
    display: flex;
    align-items: center;
    gap: var(--solar-spacing-150)
}

@media (max-width: 969px) {
    .solar-footer .credits .networks[data-v-1821df6a] {
        justify-content: center;
        padding: var(--solar-spacing-150)
    }
}