@import '_variables.css';
@import 'fonts.css';
.solar-list[data-v-f6f1db1a] {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    width: 100%;
}
.vertical[data-v-f6f1db1a] {
    flex-direction: column;
    justify-content: flex-start
}

.item[data-v-f6f1db1a] {
    display: flex;
    align-items: center;
    justify-content: start
}

.solar-responsive-image img[data-v-73d45db8] {
    width: 100%;
    height: auto;
    background: var(--solar-color-neutral-50) url(img/placeholder-logo.svg) no-repeat center / 50%;
    object-fit: cover;
    vertical-align: middle;
}

.solar-photo-content[data-v-15044903] {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0
}

@media (max-width: 969px) {
    .solar-photo-content.row-type .responsive-image[data-v-15044903] {
        width:calc(100% + var(--solar-spacing-200));
        margin-left: calc(var(--solar-spacing-100) * -1)
    }
}

.featured-image-right[data-v-5442f4c2] {
    float: right;
    margin: 0 0 var(--solar-spacing-100) var(--solar-spacing-50)
}

.featured-image-square[data-v-5442f4c2],.featured-image-vertical[data-v-5442f4c2] {
    max-width: 150px
}

.featured-image-mobile-special[data-v-5442f4c2] {
    margin-bottom: var(--solar-spacing-100)
}

.solar-icon[data-v-3112d719] {
    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size)
}

.featured-image-square[data-v-5442f4c2], .featured-image-vertical[data-v-5442f4c2] {
    max-width: 150px;
}
.featured-image-right[data-v-5442f4c2] {
    float: right;
    margin: 0 0 var(--solar-spacing-100) var(--solar-spacing-50);
}
.solar-photo-content[data-v-15044903] {
    position: relative;
}
.tm-primary[data-v-c31801e7], .tm-primary.is-default[data-v-c31801e7] {
    --bg: var(--solar-button-primary-default-bg);
    --fg: var(--solar-button-primary-default-fg)
}

.tm-primary[data-v-c31801e7]:hover, .tm-primary.is-hover[data-v-c31801e7] {
    --bg: var(--solar-button-primary-hover-bg)
}

.tm-primary[data-v-c31801e7]:focus, .tm-primary.is-focus[data-v-c31801e7] {
    --bg: var(--solar-button-primary-focus-bg)
}

.tm-primary[data-v-c31801e7]:active, .tm-primary.is-active[data-v-c31801e7] {
    --bg: var(--solar-button-primary-active-bg)
}

.tm-primary[data-v-c31801e7]:disabled, .tm-primary.is-disabled[data-v-c31801e7] {
    --bg: var(--solar-button-primary-disabled-bg);
    --fg: var(--solar-button-primary-disabled-fg)
}

.tm-primary.list[data-v-c31801e7], .tm-primary.list.is-default[data-v-c31801e7] {
    --fg: var(--solar-button-list-primary-default-fg)
}

.tm-primary.list[data-v-c31801e7]:hover, .tm-primary.list.is-hover[data-v-c31801e7] {
    --fg: var(--solar-button-list-primary-hover-fg)
}

.tm-primary.list[data-v-c31801e7]:focus, .tm-primary.list.is-focus[data-v-c31801e7] {
    --fg: var(--solar-button-list-primary-focus-fg)
}

.tm-primary.list[data-v-c31801e7]:disabled, .tm-primary.list.is-disabled[data-v-c31801e7] {
    --fg: var(--solar-button-list-primary-disabled-fg)
}

.tm-secondary[data-v-c31801e7], .tm-secondary.is-default[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-default-bg);
    --fg: var(--solar-button-secondary-default-fg)
}

.tm-secondary[data-v-c31801e7]:hover, .tm-secondary.is-hover[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-hover-bg)
}

.tm-secondary[data-v-c31801e7]:focus, .tm-secondary.is-focus[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-focus-bg)
}

.tm-secondary[data-v-c31801e7]:active, .tm-secondary.is-active[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-active-bg)
}

.tm-secondary[data-v-c31801e7]:disabled, .tm-secondary.is-disabled[data-v-c31801e7] {
    --bg: var(--solar-button-secondary-disabled-bg);
    --fg: var(--solar-button-secondary-disabled-fg)
}

.tm-dark[data-v-c31801e7], .tm-dark.is-default[data-v-c31801e7] {
    --bg: var(--solar-button-dark-default-bg);
    --fg: var(--solar-button-dark-default-fg)
}

.tm-dark[data-v-c31801e7]:hover, .tm-dark.is-hover[data-v-c31801e7] {
    --bg: var(--solar-button-dark-hover-bg);
    --fg: var(--solar-button-dark-hover-fg)
}

.tm-dark[data-v-c31801e7]:focus, .tm-dark.is-focus[data-v-c31801e7] {
    --bg: var(--solar-button-dark-focus-bg);
    --fg: var(--solar-button-dark-focus-fg)
}

.tm-dark[data-v-c31801e7]:active, .tm-dark.is-active[data-v-c31801e7] {
    --bg: var(--solar-button-dark-active-bg);
    --fg: var(--solar-button-dark-active-fg)
}

.tm-dark[data-v-c31801e7]:disabled, .tm-dark.is-disabled[data-v-c31801e7] {
    --bg: var(--solar-button-dark-disabled-bg);
    --fg: var(--solar-button-dark-disabled-fg)
}

.tm-dark.list[data-v-c31801e7], .tm-dark.list.is-default[data-v-c31801e7] {
    --fg: var(--solar-button-list-dark-default-fg)
}

.tm-dark.list[data-v-c31801e7]:hover, .tm-dark.list.is-hover[data-v-c31801e7] {
    --fg: var(--solar-button-list-dark-hover-fg)
}

.tm-dark.list[data-v-c31801e7]:focus, .tm-dark.list.is-focus[data-v-c31801e7] {
    --fg: var(--solar-button-list-dark-focus-fg)
}

.tm-dark.list[data-v-c31801e7]:disabled, .tm-dark.list.is-disabled[data-v-c31801e7] {
    --fg: var(--solar-button-list-dark-disabled-fg)
}

.solar-button[data-v-c31801e7] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--solar-border-radius-50);
    color: var(--fg);
    background: var(--bg);
    padding: 0 var(--solar-spacing-100);
    height: 32px;
    border-style: none;
    border-width: 1px;
    fill: var(--fg);
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    --gap: var(--solar-spacing-25)
}

.solar-button[data-v-c31801e7]:hover {
    cursor: pointer
}

.solar-button[data-v-c31801e7]:disabled, .solar-button.is-disabled[data-v-c31801e7], .solar-button.is-loading[data-v-c31801e7] {
    pointer-events: none
}

.solar-button:disabled .solar-image[data-v-c31801e7], .solar-button.is-disabled .solar-image[data-v-c31801e7], .solar-button.is-loading .solar-image[data-v-c31801e7] {
    opacity: .25
}

.solar-button.list[data-v-c31801e7] {
    border-radius: 0;
    background: transparent;
    height: 24px;
    padding: 0;
    --gap: var(--solar-spacing-50)
}

@media (min-width: 970px) {
    .solar-button.is-medium[data-v-c31801e7] {
        height: 36px
    }

    .solar-button.list[data-v-c31801e7] {
        height: 32px
    }
}

.solar-button.fit-height[data-v-c31801e7] {
    height: fit-content
}

.label-wrapper[data-v-c31801e7], .content-wrapper[data-v-c31801e7] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap)
}

.content-wrapper[data-v-c31801e7] {
    width: 100%
}

.list>.content-wrapper[data-v-c31801e7] {
    justify-content: flex-end
}

.only-icon>.content-wrapper[data-v-c31801e7] {
    justify-content: center
}


.label-wrapper[data-v-c31801e7] {
    justify-content: center
}

.list:not(.only-icon) .label-wrapper[data-v-c31801e7] {
    margin-right: auto
}

.solar-headline a[data-v-24a72c9a] {
    border-bottom: none
}

.solar-headline .img-container[data-v-24a72c9a] {
    display: flex
}

.solar-headline .avatar-container figure[data-v-24a72c9a] {
    margin: 0 var(--solar-spacing-100) 0 0
}

.solar-headline .list-title[data-v-24a72c9a] {
    color: var(--solar-color-text-tertiary);
    margin: 0
}

.solar-headline img[data-v-24a72c9a] {
    border-radius: var(--solar-border-radius-25);
    width: 100%;
    margin-bottom: var(--solar-spacing-50)
}

.solar-headline .title[data-v-24a72c9a] {
    margin: 0 0 var(--solar-spacing-50) 0
}

.solar-headline .title[data-v-24a72c9a]:not(h1, .list-title-author) {
    color: var(--solar-color-text1-action-secondary-enabled)
}

.solar-headline .title.list-title-author[data-v-24a72c9a] {
    color: var(--solar-color-text-secondary)
}

.solar-headline .list-title-author[data-v-24a72c9a] {
    padding-top: 0
}

.solar-headline:hover .img-container[data-v-24a72c9a], .solar-headline:hover .avatar-container[data-v-24a72c9a], .solar-headline:hover .small[data-v-24a72c9a], .solar-headline:hover .title-content-author[data-v-24a72c9a], .solar-headline:focus .img-container[data-v-24a72c9a], .solar-headline:focus .avatar-container[data-v-24a72c9a], .solar-headline:focus .small[data-v-24a72c9a], .solar-headline:focus .title-content-author[data-v-24a72c9a] {
    opacity: .7
}

.solar-headline:hover .title[data-v-24a72c9a]:not(.small, .list-title-author, h1) {
    color: var(--solar-color-text1-action-secondary-hover)
}

.icon[data-v-5ee44dd4] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--solar-spacing-50);
    fill: var(--solar-color-icon-tertiary)
}

.label[data-v-5ee44dd4] {
    display: flex;
    align-items: center;
    color: var(--solar-color-text-secondary);
    white-space: nowrap;
    margin-left: auto;
    margin-right: 4px
}

.solar-image[data-v-43d13567] {
    display: inline-flex
}

.solar-image.width-based[data-v-43d13567] {
    width: var(--w);
    height: auto
}

.solar-image.height-based[data-v-43d13567] {
    height: var(--h);
    width: auto
}

.solar-image[data-v-43d13567]>svg {
    width: inherit;
    height: inherit;
    fill: var(--color)
}

.BlFWcnNo {
    border-bottom: 1px solid var(--solar-color-neutral-100)
}

.solar-social-media[data-v-6619f140] {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.solar-social-media .label[data-v-6619f140] {
    color: var(--solar-color-text-primary)
}

.solar-social-media .list[data-v-6619f140] {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--solar-spacing-100)
}

.solar-social-media .list .item[data-v-6619f140]:last-child {
    margin-right: 0
}

.solar-social-media .list .item .icon[data-v-6619f140] {
    fill: var(--solar-color-icon-secondary);
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    height: 24px;
    padding: 0;
    width: auto
}

.solar-social-media .list .item .icon[data-v-6619f140]:hover, .solar-social-media .list .item .icon[data-v-6619f140]:active, .solar-social-media .list .item .icon[data-v-6619f140]:focus {
    outline: none;
    fill: var(--social-color, var(--solar-color-links-hover))
}

.solar-social-media .list.neutral[data-v-6619f140] {
    gap: var(--solar-spacing-50)
}

.solar-social-media .list.neutral .item>.icon[data-v-6619f140] {
    fill: var(--solar-color-icon-secondary);
    display: flex;
    background-color: var(--solar-color-background1-action-quinary-enabled);
    border-radius: var(--solar-border-radius-200);
    height: var(--solar-spacing-200);
    width: var(--solar-spacing-200);
    justify-content: center;
    align-items: center;
    padding: var(--solar-spacing-25)
}

.solar-social-media .list.neutral .item>.icon[data-v-6619f140]:hover, .solar-social-media .list.neutral .item>.icon[data-v-6619f140]:active, .solar-social-media .list.neutral .item>.icon[data-v-6619f140]:focus {
    outline: none;
    fill: var(--social-color, var(--solar-color-links-hover))
}

.solar-social-media .list.color[data-v-6619f140] {
    gap: var(--solar-spacing-50)
}

.solar-social-media .list.color .item>.icon[data-v-6619f140] {
    fill: var(--solar-color-static-white);
    display: flex;
    background: var(--social-color);
    border-radius: var(--solar-border-radius-200);
    height: var(--solar-spacing-200);
    width: var(--solar-spacing-200);
    justify-content: center;
    align-items: center;
    padding: var(--solar-spacing-25)
}

.solar-social-media .list.color .item>.icon[data-v-6619f140]:hover, .solar-social-media .list.color .item>.icon[data-v-6619f140]:active, .solar-social-media .list.color .item>.icon[data-v-6619f140]:focus {
    outline: none;
    opacity: .7
}

.solar-social-media.vertical[data-v-6619f140] {
    flex-direction: column;
    width: fit-content
}

.solar-social-media.vertical .label[data-v-6619f140] {
    margin-right: var(--solar-spacing-150);
    margin-bottom: var(--solar-spacing-50)
}

.solar-social-media.horizontal[data-v-6619f140] {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center
}

.solar-social-media.horizontal .label[data-v-6619f140] {
    width: max-content;
    margin-right: var(--solar-spacing-150)
}

.solar-social-media.horizontal.wrapped[data-v-6619f140] {
    grid-template-columns: auto
}

.solar-social-media.horizontal.wrapped .label[data-v-6619f140] {
    margin-bottom: var(--solar-spacing-50)
}

.jupiter-paragraph-fragment[data-v-232111b4] {
    --block-spacing: var(--solar-spacing-150)
}

.jupiter-paragraph-fragment>*[data-v-232111b4] {
    margin-top: var(--block-spacing);
    margin-bottom: var(--block-spacing)
}

.jupiter-paragraph-fragment>*[data-v-232111b4]:first-child {
    margin-top: 0
}

@media (min-width: 970px) {
    .jupiter-paragraph-fragment[data-v-232111b4] {
        --block-spacing: var(--solar-spacing-200)
    }
}

.XDHTfbCy {
    background-color: var(--solar-color-background-header);
    transition: .5s all
}

.k-6jsN7G {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    height: 56px
}

.jSHdaL9w {
    border-bottom: 1px solid var(--solar-color-stroke-divider-primary)
}

.QxFmtM4r {
    display: flex;
    align-items: center;
    gap: var(--solar-spacing-100)
}

._-1cR-Km4 {
    display: flex
}
.LnZlJVdp {
display: none;}


.CjJv32Px {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: var(--solar-spacing-100)
}

@media (min-width: 970px) {
    .k-6jsN7G {
        grid-template-columns: 1fr 3fr 1fr
    }
    .LnZlJVdp {
display: flex;
        width: fit-content;
        justify-self: center
    }
    .CjJv32Px {
        gap: var(--solar-spacing-150)
    }
}

.jupiter-headline .sign-it[data-v-c054eacf] {
    margin: 0;
    margin-bottom: var(--solar-spacing-100)
}

.jupiter-headline .headline-container .headline-footer .info .headline-social-share[data-v-c054eacf] {
    display: flex;
    align-self: baseline;
    flex: none
}

@media (min-width: 970px) {
    .central-column[data-v-5442f4c2] {
        min-width:640px
    }

    .article-footer-action[data-v-5442f4c2] {
        clear: both;
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .col-custom[data-v-5442f4c2] {
        max-width: 240px
    }

    *[data-v-5442f4c2] {
        --featured-image-square-mw: 308px;
        --featured-image-vertical-mw: 308px
    }

    [data-v-5442f4c2] .featured-embed .embed-right.embed-square {
        max-width: var(--featured-image-square-mw)
    }

    [data-v-5442f4c2] .featured-embed .embed-right.embed-vertical {
        max-width: var(--featured-image-vertical-mw)
    }

    .featured-image-right[data-v-5442f4c2] {
        margin: 0 0 var(--solar-spacing-200) var(--solar-spacing-200)
    }

    .featured-image-square[data-v-5442f4c2] {
        max-width: var(--featured-image-square-mw)
    }

    .featured-image-vertical[data-v-5442f4c2] {
        max-width: var(--featured-image-vertical-mw)
    }
}

@media (min-width: 970px) {
    .headline-footer .info[data-v-c054eacf] {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .headline-footer .info:has(.headline-group) .headline-social-share[data-v-c054eacf] {
        margin-top: 3px;
        margin-left: var(--solar-spacing-100)
    }
}

.solar-footer .footer .phone[data-v-1821df6a] {
    display: flex;
    flex-direction: column;
    gap: var(--solar-spacing-100);
}

.solar-social-media.horizontal[data-v-6619f140] {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
}

.solar-social-media.horizontal .label[data-v-6619f140] {
    width: max-content;
    margin-right: var(--solar-spacing-150);
    margin-bottom: var(--solar-spacing-50);
}

.regular-subtext[data-v-1821df6a]{
    background-color: var(--solar-color-background-seconda)
}

body {
    --header-height: 56px;
    --main-pt: 0%;
    --z-index-header: 99999999;
    --z-index-modal: calc(var(--z-index-header) + 1)
}

@media (min-width: 970px) {
    body {
        --header-height: 73px
    }
}

body .vl-wrapper .header-top-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: var(--z-index-header);
    background-color: var(--solar-color-static-white)
}

body .vl-wrapper {
    position: relative;
    z-index: var(--z-index-modal)
}

body .row {
    margin-left: calc(var(--solar-spacing-100) * -1);
    margin-right: calc(var(--solar-spacing-100) * -1)
}

body.in-app .vl-wrapper {
    padding-top: var(--main-pt)
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

a {
    background-color: rgba(0, 0, 0, 0)
}

b, strong {
    font-weight: bolder
}

img {
    border-style: none
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button {
    overflow: visible
}

button {
    text-transform: none
}

[hidden] {
    display: none
}

* {
    box-sizing: border-box
}

body {
    background: var(--solar-color-background-primary);
    color: var(--solar-color-text-primary)
}

h1 {
    color: var(--solar-color-heading-primary)
}

body {
    font-family: UOLtext, Arial, sans-serif;
    font-size: 18px
}

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px
}

p, li, cite, .regular-text, .bold-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px
}

.regular-subtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}

.regular-caption, .bold-caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.regular-smaller-text, .bold-smaller-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px
}

.bold-text-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 12px
}

.regular-text2, .bold-text2, .bold-text-2, .regular-text-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media(min-width: 970px) {
    body {
        font-size: 20px
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 56px
    }

    p, li, cite, .regular-text, .bold-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px
    }

    .regular-subtext {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px
    }

    .regular-caption, .bold-caption {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px
    }

    .regular-smaller-text, .bold-smaller-text {
        font-size: 10px;
        font-weight: 400;
        line-height: 16px
    }

    .bold-text-button {
        font-size: 16px;
        font-weight: 700;
        line-height: 16px
    }
}

.bold, .bold-smaller-text, .bold-caption, .bold-text2, .bold-text-2, .bold-text, strong {
    font-weight: 700
}

.center {
    text-align: center
}

.bullet ul {
    list-style-type: none;
    padding-left: 0
}

.bullet ul li {
    padding-bottom: var(--solar-spacing-100)
}

.bullet ul li::before {
    content: "";
    width: 4px;
    height: 4px;
    margin-right: var(--solar-spacing-50);
    background-color: var(--solar-color-decoration-primary);
    display: inline-block;
    margin-bottom: 5px
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--solar-grid-columns, 12), 1fr);
    gap: var(--solar-grid-gap, 24px)
}

.grid>* {
    grid-column: auto/span var(--solar-grid-columns, 12)
}

.grid>.col1 {
    grid-column: auto/span 1
}

.grid>.col2,.grid>.col1-6 {
    grid-column: auto/span 2
}

.grid>.col3,.grid>.col1-4 {
    grid-column: auto/span 3
}

.grid>.col4,.grid>.col2-6,.grid>.col1-3 {
    grid-column: auto/span 4
}

.grid>.col5 {
    grid-column: auto/span 5
}

.grid>.col6,.grid>.col3-6,.grid>.col2-4,.grid>.col1-2 {
    grid-column: auto/span 6
}

.grid>.col7 {
    grid-column: auto/span 7
}

.grid>.col8,.grid>.col4-6,.grid>.col2-3 {
    grid-column: auto/span 8
}

.grid>.col9,.grid>.col3-4 {
    grid-column: auto/span 9
}

.grid>.col10,.grid>.col5-6 {
    grid-column: auto/span 10
}

.grid>.col11 {
    grid-column: auto/span 11
}

.grid>.col12,.grid>.col-full {
    grid-column: auto/span 12
}

@media(min-width: 970px) {
    .grid>.col-lg-1 {
        grid-column:auto/span 1
    }

    .grid>.col-lg-2,.grid>.col-lg-1-6 {
        grid-column: auto/span 2
    }

    .grid>.col-lg-3,.grid>.col-lg-1-4 {
        grid-column: auto/span 3
    }

    .grid>.col-lg-4,.grid>.col-lg-2-6,.grid>.col-lg-1-3 {
        grid-column: auto/span 4
    }

    .grid>.col-lg-5 {
        grid-column: auto/span 5
    }

    .grid>.col-lg-6,.grid>.col-lg-3-6,.grid>.col-lg-2-4,.grid>.col-lg-1-2 {
        grid-column: auto/span 6
    }

    .grid>.col-lg-7 {
        grid-column: auto/span 7
    }

    .grid>.col-lg-8,.grid>.col-lg-4-6,.grid>.col-lg-2-3 {
        grid-column: auto/span 8
    }

    .grid>.col-lg-9,.grid>.col-lg-3-4 {
        grid-column: auto/span 9
    }

    .grid>.col-lg-10,.grid>.col-lg-5-6 {
        grid-column: auto/span 10
    }

    .grid>.col-lg-11 {
        grid-column: auto/span 11
    }

    .grid>.col-lg-12,.grid>.col-lg-full {
        grid-column: auto/span 12
    }
}

.container, .body-container {
    max-width: 100%;
    margin: 0 16px
}

@media screen and (min-width: 1336px) {
    .container {
        margin: 0 auto;
        max-width: 1304px
    }
}

@media(min-width: 970px) {
    .body-container {
        margin: 0 auto;
        max-width: 640px
    }
}

a:not(.no-link) {
    padding-bottom: 1px;
    text-decoration: none;
    color: var(--solar-color-links-enabled);
    border-bottom: 2px solid var(--solar-color-links-enabled)
}

a:not(.no-link):hover {
    color: var(--solar-color-links-hover);
    border-color: var(--solar-color-links-hover)
}

a:not(.no-link):active {
    color: var(--solar-color-links-active);
    border-color: var(--solar-color-links-active)
}


.mt-100 {
    margin-top: var(--solar-spacing-100)
}

.my-150 {
    margin-top: var(--solar-spacing-150);
    margin-bottom: var(--solar-spacing-150)
}

.my-250 {
    margin-top: var(--solar-spacing-250);
    margin-bottom: var(--solar-spacing-250)
}

.mt-0 {
    margin-top: 0
}

.m-0 {
    margin: 0;
}
.pb-100 {
    padding-bottom: var(--solar-spacing-100);
}

@media(max-width: 969px) {
    .mt-100-xs {
        margin-top: var(--solar-spacing-100)
    }

    .mt-250-xs {
        margin-top: var(--solar-spacing-250)
    }
}

@media(min-width: 970px) {
    .mt-100-lg {
        margin-top: var(--solar-spacing-100)
    }

    .mt-150-lg {
        margin-top: var(--solar-spacing-150)
    }

    .mt-400-lg {
        margin-top: var(--solar-spacing-400)
    }
}